{% set list = Base['component_side_names']['Materials'] %}
<div class="border-0" style=" background-image:{{gradient}}">
  <!-- Tabs -->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for item in list %}
        {% set btn = item.replace(" ","-") %}
        <button style="{{btn_style_active}}" class="nav-link {% if loop.index == 1 %}active{% endif %}" id="nav-{{btn}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{btn}}" type="button" role="tab" aria-controls="nav-{{btn}}" aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}">
          {{btn}}
        </button>
      {% endfor %}
      <button class="control-button next-button" style="top :3453px; left:1060px;width:30px height:70px">&#62;</button>
    </div>
  </nav>

  <!-- Tab Content -->
  <div class="tab-content" id="nav-tabContent">
    {% for panel in list %}
      {% set tab = panel.replace(" ", "-") %}
      <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}" id="nav-{{tab}}" role="tabpanel" aria-labelledby="nav-{{tab}}-tab">
        <!-- Carousel -->
        <img src="{{img['Materials']['Types of Materials'][0]}}" alt="" style="width:270px; height:170px;">
        <!-- Text content -->
        <div>
            {% if loop.index == 1 %}
              {{text_reader_macro(txt['Materials']['Types of Materials'][0])}}
            {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>