{%set list = Base['component_main_names']['Characterstics']%}
{%set Characterstics_paragrap_1 = "The city’s long-term association with the Ottomans and Egyptians created strong similarities with other Red Sea ports of Jiddah, Sawakin, Hudaydah, and Luhayya. Ottomans and Egyptians influenced the architectural elements of the heritage buildings, exhibiting a similar Islamic architectural style that can be seen in the Red Sea proper."%}
{%set Characterstics_paragrap_2 = "Architectural elements of the heritage building, its technique, and material details are mainly related to the island city of Suakin on the Sudanese Red Sea coast. Architectural features, construction methods, and material details draw parallels primarily with the island city of Suakin along the coast of the Red Sea in Sudan.Suakin and Massawa exhibited the traits typical of Red Sea towns. The towns were also Arabian, distinct from those of African origin, as seen in their diverse populations, architectural styles, and lifestyle choices, including clothing. The cultural distinctiveness, coupled with its unique and symbolic position in Eritrea’s Islamic past, renders the study of Massawa crucial for a comprehensive understanding of the Red Sea region." %}
<div class="mb-3 border-0 rounded-top-right rounded-bottom-left"  style="max-width:1098; max-height:413; background-image:{{gradient}} ; Border-radius:0px 50px 50px 0px">

      <div class="tab-content" id="nav-tabContent">
        {%for panel in list%}
        {%set tab = panel.replace(" " , "-")%}
        {%if loop.index == 1%}
            <div class="tab-pane fade show active" id="nav-{{tab}}" role="tabpanel" aria-labelledby="nav-{{tab}}-tab">
                 <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                      <div class = "d-flex align-items-center justify-content-center" style = "width:800px; height: 350px;background-color:rgba(255, 255, 255, 0.08); border-radius:50px">
                        {{ horizontal_component(img['Characterstics']['Relations'],'Relations') }}
                      </div>
                    </div>
                    <div class="col-md-6 ps-2">
                      <p style="color:#FFFFFF; font-size:16px">
                        {{Characterstics_paragrap_1}}
                      </p>
                      <p style="color:#FFFFFF; font-size:16px">
                        {{Characterstics_paragrap_2}}
                      </p>
                    </div>
                </div>
            </div>

        {%else%}
            <div class="tab-pane fade" id="nav-{{tab}}" role="tabpanel" aria-labelledby="nav-{{tab}}-tab">{{tab}}</div>
        {%endif%}
      {%endfor%}
      </div>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          {% set n = list|length %}
          {%for index,item in enumerate(list)%}
            {%if index == n // 2 %}
              <div class="w-100"></div>
            {%endif%}
            {%set btn = item.replace(" ","-")%}
            {%if loop.index == 1%}
                <button style = "{{btn_style_active}}" class="nav-link active me-3 mb-3" id="nav-{{btn}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{btn}}" type="button" role="tab" aria-controls="nav-{{btn}}" aria-selected="true">{{btn}}</button>
            {% else %}
            <button style = "{{btn_style}}" class="nav-link me-3 mb-3" id="nav-{{btn}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{btn}}" type="button" role="tab" aria-controls="nav-{{btn}}" aria-selected="false">{{btn}}</button>
            {%endif%}
          {% endfor %}
        </div>
      </nav>
    
</div>