<div class="mb-3" style="max-width:1352px; max-height:426px; background-image: {{gradient}};border-radius:0px 50px 50px 0px">
   <div class="row">
      <div class="col-md-5 d-flex align-item-center">
        <img src="static/image/general/General.png" class="card-img h-100 " alt="Image">
      </div>
      <div class="col-md-7 d-flex align-items-center">
      
          <p>
           <pre style = "color:#FFFFFF">
            <b>Name of Site</b>:Port city of Massawa
            <b>Reference Number</b>:ER-OM
            <b>National References</b>:ER-ER-OM
            <b>Location</b>:Port city of Massawa
           </pre>
          </p>
          <a href="#" class="btn mb-3" style="display:flex;align-items:center;justify-content:center;width:140px;background:rgba(255, 255, 255, 0.33);border-radius:14px;height:28px">More</a>
     
      </div>
    </div>
  </div>