<footer class="m-5">
    <div class="container">
        <!-- First row with links -->
        <div class="row mb-5 text-md-start text-center">
            <div class="col-md-5 col-12 mb-3">
                <a href="#" class="text-decoration-none d-flex align-items-center">
                    <img src="static/map.png" width="79" height="69" class="me-5" alt="">
                    <pre class="mt-4" style = "position: absolute;font-family: 'Inter';font-style: italic;font-weight: 100;font-size: 18px;color: #B3B3B3;">
                      Old
                      <b style = "color:red">MASSAWA</b>
                      Archive
                    </pre>
                </a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="#" class="text-decoration-none" style="color:rgba(174, 167, 53, 1)">Who we are ?</a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="#" class="text-decoration-none" style="color:rgba(174, 167, 53, 1)">What we do ?</a>
            </div>
            <div class="col-md-2 col-6 mb-3">
                <a href="#" class="text-decoration-none" style="color:rgba(174, 167, 53, 1)">Get involved</a>
            </div>
            <div class="col-md-1 col-6 mb-3">
                <a href="#" class="text-decoration-none" style="color:rgba(174, 167, 53, 1)">Search</a>
            </div>
        </div>

        <!-- Second row with social links and signup -->
        <div class="row">
            <!-- Social links -->
            <div class="col-md-6 text-md-start text-center mb-4">
                <div class="mb-2" style="color:rgba(138, 138, 138, 1)">
                    Connect with Us 
                </div>
                <a href="#" class="me-2" style="color:rgba(194, 189, 104, 1)"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#" class="me-2" style="color:rgba(194, 189, 104, 1)"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="me-2" style="color:rgba(194, 189, 104, 1)"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="me-2" style="color:rgba(194, 189, 104, 1)"><i class="fa-brands fa-x"></i></a>
                <a href="#" class="me-2" style="color:rgba(194, 189, 104, 1)"><i class="fa-brands fa-youtube"></i></a>
            </div>

            <!-- Signup form -->
            <div class="col-md-6">
                <div class="flex-column align-items-md-end align-items-center">
                    <label for="exampleFormControlInput1" class="form-label text-md-end text-center w-100 mb-2" style="rgba(138, 138, 138, 1)">Sign up to receive news and updates</label>
                    <div class="d-flex flex-column align-items-md-end align-items-center w-100">
                        <input type="email"  class="form-control rounded-pill mb-2 bg-body-tertiary" id="exampleFormControlInput1" placeholder="Email address" style="max-width: 250px;">
                        <button class="btn rounded-pill" style="width:154px; background:rgba(174, 167, 53, 1); color:#FFFFFF">signup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="width:1300px border: 10px solid rgba(174, 167, 53, 1)"/>

    <!-- Copyright section -->
    <div class="container mb-3">
        <div class="text-center">
            <small>@2024 old massawa archive</small>
            <br/>
            <small>By: Yishak Tsehay Sewasew</small>   
        </div>
    </div>
</footer>